.wrapper {
    margin: auto 40px;
    width: 800px;
  }
  
  .main {
    width: 100%;
    height: 540px;
  }
  .main img {
    object-fit: contain;
    width: 100%;
    height: 540px;
  }
  
  .thumb-list {
    display: flex;
    list-style:none;
    padding: 0;
  }
  .thumb-item {
    cursor: pointer;
  }
  
  .thumb-item-img {
    width: 100%;
    filter: grayscale(100%);
  }
  .thumb-item-img.is-active,
  .thumb-item-img:hover {
    filter: grayscale(0);
  }
  
  img:hover, img.selected {
    border: 1px solid green;  
  }